VITE_SUPABASE_URL=https://aqqfukyyyfekphtouytg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFxcWZ1a3l5eWZla3BodG91eXRnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyNTM3MTEsImV4cCI6MjA4OTgyOTcxMX0.EWunfBS58vupSe0GinyEhdVisCALpSkzKZ5Q5jZhtyw

